* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    padding: 30px;
    height: 720px;
}
.container {
    background-color: #39b98f;
    width: 500px;
    border-radius: 9px;
}
.screen {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: rgb(211, 211, 211);
    font-size: 55px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
button {
    font-size: 50px;
    border: none;
    border-radius: 10px;
    transition: .25s;
}
.equal {
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 4;
    grid-column-end: 4;
}
.button0 {
    grid-column-start: 1;
    grid-column-end: 3;
}

button:hover {
    box-shadow: 0px 0px 5px 0px #000000;
    font-size: 55px;
}
button:active {
    box-shadow:inset 0px 0px 8px 0px #000000;
}